# Malé odpory

## Setup

In [1]:
from protokol import *
from scipy import array as arr
import uncertainties
from uncertainties import ufloat as uf
from uncertainties.unumpy import nominal_values as noms
from uncertainties.unumpy import std_devs as stds
import uncertainties.umath as um

In [2]:
%matplotlib inline
plt.rcParams["figure.figsize"] = (4*1.5,2.5*1.5)
plt.rcParams["figure.dpi"] = 100
plt.rcParams["text.usetex"] = True
plt.rcParams["font.family"] = "serif"
plt.rcParams["font.serif"] = ["Computer Modern"]
plt.rcParams["text.latex.preamble"] = r"""
\usepackage[decimalsymbol=comma]{siunitx}
"""

In [3]:
def relative(self, percent=True):
    if percent:
        return f"{self.s / self.n * 100} %"
    else:
        return self.s / self.n

uncertainties.core.Variable.rel = relative

In [4]:
def stat_eval(vals, err=0, scale=1):
    a = arr(sp.array(vals)) * scale
    sc_err = err * scale
    mean = a.mean()
    std = a.std(ddof=1)
    mean_std = std / sp.sqrt(len(a))
    
    final_err = sp.sqrt(mean_std**2 + sc_err**2)
    
    return uf(mean, final_err)

In [5]:
def apply_ip(df, f):
    df = df.apply(f)

## Data

In [6]:
rozm = pd.DataFrame(index=["l", "d"], columns=["W", "M", "K", "Z", "MO", "C"])

rozm.W = 0.898, stat_eval([0.68,  0.68,  0.68,  0.67,  0.68], 0.01, 1e-3)
rozm.M = 0.898, stat_eval([1.09, 1.11, 1.09, 1.09, 1.10], 0.01, 1e-3)
rozm.K = 0.898, stat_eval([0.49, 0.51, 0.49, 0.49, 0.49], 0.01, 1e-3)
rozm.Z = 0.898, stat_eval([0.40, 0.40, 0.42, 0.42, 0.40], 0.01, 1e-3)
rozm.MO = 0.901, stat_eval([0.59, 0.59, 0.59, 0.59, 0.58], 0.01, 1e-3)
rozm.C = 0.897, stat_eval([1.01, 0.99, 0.98, 0.99, 1.00], 0.01, 1e-3)

rozm.loc["l"] = rozm.loc["l"].apply(lambda h: uf(h, 0.02))

rozm

,W,M,K,Z,MO,C
l,0.898+/-0.020,0.898+/-0.020,0.898+/-0.020,0.898+/-0.020,0.901+/-0.020,0.897+/-0.020
d,0.000678+/-0.000010,0.001096+/-0.000011,0.000494+/-0.000011,0.000408+/-0.000011,0.000588+/-0.000010,0.000994+/-0.000011

In [7]:
df = pd.DataFrame(
    {
        "KEITHLEY": [
            0.1367,
            0.0161,
            6.2359,
            1.4747,
            0.2200,
            1.1795
        ],
        "WS": [
            0.1647,
            0.0401,
            6.23,
            1.498,
            0.2444,
            1.1992
        ],
        "TO": [
            0.1371,
            0.01665,
            6.235,
            1.484,
            0.2206,
            1.1797
        ]
    }, 
    index=["W", "M", "K", "Z", "MO", "C"]
)
df.KEITHLEY = df.KEITHLEY.apply(lambda h: uf(h, 0.0001))
df[["WS", "TO"]] = df[["WS", "TO"]].applymap(lambda h: uf(h, 0.01*h))
df

             KEITHLEY                 TO               WS
W   0.13670+/-0.00010    0.1371+/-0.0014  0.1647+/-0.0016
M   0.01610+/-0.00010  0.01665+/-0.00017  0.0401+/-0.0004
K   6.23590+/-0.00010        6.24+/-0.06      6.23+/-0.06
Z   1.47470+/-0.00010      1.484+/-0.015    1.498+/-0.015
MO  0.22000+/-0.00010    0.2206+/-0.0022  0.2444+/-0.0024
C   1.17950+/-0.00010      1.180+/-0.012    1.199+/-0.012

## Úkol 2

In [8]:
R_V = uf(0.0231, 0.0002)

In [9]:
df.WS - df.TO - R_V

W     0.0045+/-0.0022
M     0.0003+/-0.0005
K        -0.03+/-0.09
Z      -0.009+/-0.021
MO    0.0007+/-0.0033
C      -0.004+/-0.017
dtype: object

## Úkol 4

In [10]:
def merny_odpor(R, l, d):
    return (R * sp.pi * d**2) / (4 * l)

In [11]:
R_mer = {}

for i, r in df.iterrows():
    R_mer[i] = merny_odpor(r.KEITHLEY, *rozm[i])

R_mer

{'C': 1.0203946016715462e-06+/-3.2384404387114e-08,
 'K': 1.3309648454993457e-06+/-6.516820827912283e-08,
 'M': 1.6914553149134116e-08+/-5.132900245788475e-10,
 'MO': 6.630441129106684e-08+/-2.7306959421770333e-09,
 'W': 5.495933219288911e-08+/-2.057516154102977e-09,
 'Z': 2.1470272233288748e-07+/-1.2657735410225302e-08}

In [12]:
for key, item in R_mer.items():
    print(key, item*1e6)

W 0.0550+/-0.0021
M 0.0169+/-0.0005
K 1.33+/-0.07
Z 0.215+/-0.013
MO 0.0663+/-0.0027
C 1.020+/-0.032

In [48]:
tab_odp = pd.DataFrame({
    "W": [4.89, 4.83],
    "M": [1.555, 4.33],
    "KA": [140, 0.1],
    "Z": [8.81, 6.53],
    "MO": [7, 1.5],
    "C": [110, 0.18]
}, index=["ro", "alfa"])
tab_odp.loc["ro"] = tab_odp.loc["ro"] * 1e-8
tab_odp.loc["alfa"] = tab_odp.loc["alfa"] * 1e-3
tab_odp = tab_odp.T
tab_odp

              ro     alfa
C   1.100000e-06  0.00018
KA  1.400000e-06  0.00010
M   1.555000e-08  0.00433
MO  7.000000e-08  0.00150
W   4.890000e-08  0.00483
Z   8.810000e-08  0.00653

Chromnikl: BARTÁK, Jaroslav. <i>Matematické, fyzikální a chemické tabulky pro odborná učiliště a učňovské školy</i>. 6.nezm.vyd. Praha: Státní pedagogické nakladatelství, 1984. Pomocné knihy pro žáky SŠ.

Ostatní: BROŽ, Jaromír, Vladimír ROSKOVEC a Miloslav VALOUCH. <i>Fyzikální a matematické tabulky</i>. Praha: Státní nakladatelství technické literatury, 1980.

$\rho = \rho_0 (1 + \alpha T)$

In [49]:
def ro_pro_teplotu(ro0, alpha, T):
    return ro0 * (1 + alpha * T)

In [50]:
tab_odp["ro_25C"] = sp.vectorize(ro_pro_teplotu)(tab_odp.ro, tab_odp.alfa, 25)
tab_odp

              ro     alfa        ro_25C
C   1.100000e-06  0.00018  1.104950e-06
KA  1.400000e-06  0.00010  1.403500e-06
M   1.555000e-08  0.00433  1.723329e-08
MO  7.000000e-08  0.00150  7.262500e-08
W   4.890000e-08  0.00483  5.480467e-08
Z   8.810000e-08  0.00653  1.024823e-07

## Pokusy

In [44]:
def latex_table(df):
    col_names = list(df.columns)
    cols = {}
    
    for c in list(df.columns):
        err = stds(df[c])
        if sp.count_nonzero(err) > 0: 
            cols[c] = []
            cols[f"s_{c}"] = []
            for v in df[c]:
                nom_cast, err_cast = "{:1}".format(v).split("+/-")
                cols[c].append(nom_cast)
                cols[f"s_{c}"].append(err_cast)
        else:
            cols[c] = list(df[c])
    for name, data in cols.items():
        longest = len(name)
        for val in data:
            if len(str(val)) > longest:
                longest = len(str(val))
        cols[name] = list(map(lambda h: str(h).ljust(longest + 1), data))
    
    cols_list = []
    for i in range(len(col_names)):
        cols_list.append([col_names[0]] + cols[col_names[0]])
        try:
            cols_list.append([f"s_{col_names[0]}"] + cols[f"s_{col_names[0]}"])
        except KeyError:
            pass
        col_names.pop(0)
    
    for i in cols_list:
        i[0] = i[0].ljust(len(i[1]))
    
    rows_list = list(map(list, zip(*cols_list)))
    
    rows = ["& ".join(r) for r in rows_list]
    
    out = "\\\\ \n".join(rows) + "\\\\"
    
    return out

def round_uncert(value):
    

def split_df_uncert(df):
    new = pd.DataFrame()
    
    for col in list(df.columns):
        err = stds(df[col])
        if sp.count_nonzero(err) > 0: 
            nom_list = []
            std_list = []
            for v in df[col]:
                nom_val, std_val = round_uncert(v)
                nom_list.append(nom_val)
                std_list.append(std_val)
            new[col] = nom_list
            new[f"s_{col}"] = std_list
        else:
            new[col] = df[col]
    
    return new
        

def latex_table(df):
    ready_df = split_df_uncert(df)

In [46]:
tab_odp.alfa = tab_odp.alfa * 1000
tab_odp.ro = tab_odp.ro * 1e6
tab_odp.ro_25C = tab_odp.ro_25C * 1e6

In [47]:
print(latex_table(tab_odp))

ro      & alfa & ro_25C       \\
1.1     & 0.18 & 1.10495      \\
1.4     & 0.1  & 1.4035       \\
0.01555 & 4.33 & 0.0172332875 \\
0.07    & 1.5  & 0.072625     \\
0.0489  & 4.83 & 0.054804675  \\
0.0881  & 6.53 & 0.102482325  \\

In [29]:
round??

0.0